################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/MyWebsite/bin
/MyWebsite/obj
/MyWebsite/node_modules
/MyWebsiteAngular/obj/Debug
/MyWebsiteAngular/app/node_modules
/MyWebsiteAngular/app/dist/app
