<!DOCTYPE html>
<html lang="pl">
<head>
    <base href="/">
    <title>Kinga Skaskiewicz - Front-End Developer Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="content/dist/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=News Cycle' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="content/dist/css/style.css">
    <link rel="stylesheet" href="content/dist/css/beerslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body ng-app="myApp" ng-controller="mainCtrl" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">KINGA SKASKIEWICZ</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">ABOUT ME</a></li>
                    <li><a href="#portfolio">PORTFOLIO</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div>



        <div class="jumbotron text-center container-fluid">

            <div class="row justify-content-center" style="width: 100%; position: relative">

                <div id="slider1" class="beer-slider" style="z-index: 1">
                    <img src="content\dist\images\coderb.png" alt="Baltic seashore - unprocessed original photo">
                    <div class="beer-reveal">
                        <img src="content\dist\images\designerb.png" alt="Baltic seashore - sepicol Lightroom preset by Altphotos.com">
                    </div>
                </div>

                <div ng-mouseenter="onJumbotronBackgroundMouseEnter(1)" class="col-sm-6 backround-top" style="position:absolute; left: 0; top: 0; width: auto">
                    <img src="content\dist\images\Background.jpg">
                </div>
                <div ng-mouseenter="onJumbotronBackgroundMouseEnter(2)" class="col-sm-6 backround-top" style="position:absolute; right: 0; top: 0; width: auto">
                    <img src="content\dist\images\Background de.jpg">
                </div>

            </div>
        </div>

        <div class="jumbotron-text text-center container-fluid">
            <h1 data-aos="zoom-in">KINGA SKASKIEWICZ</h1>
            <p><span class="glyphicon glyphicon-chevron-left "></span>CODER<span class="glyphicon glyphicon-chevron-right "></span><span class="glyphicon glyphicon-chevron-left "></span>&frasl;DESIGNER<span class="glyphicon glyphicon-chevron-right "></span></p>
        </div>


        <div id="about" class="container-fluid">
            <div class="row">
                <div class="about">
                    <p class="bigFont">ABOUT ME</p>
                    <p class="mediumFont">Hi, I am Kinga</p>
                    <p class="smallFont">
                        I am a beginner front-end developer and experienced graphic/fashion designer which gives me the opportunity to create nice and
                        functional web applications and websites. I am a communicative and creative person. I am still learning and I like to face new problems.
                        I used to live and work in Birmingham, UK for 3 years, so I speak and write English well. Now I'm living in beautiful and inspiring Krakow, PL.
                        When I'm not coding or creating graphics you'll find me working out in the gym, traveling around Europe or gardening on my balcony.
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-grey text-center">
            <div class="skills">
                <p class="bigFont">MY SKILLS</p>
                <br><br>
                <div class="row" data-aos="zoom-in">
                    <div class="col-sm-3">
                        <span class="fab fa-html5 logo-small"></span>
                        <p class="mediumFont">HTML</p>
                        <p class="smallFont">Good knowledge</p>
                    </div>
                    <div class="col-sm-3">
                        <span class="fab fa-css3-alt logo-small"></span>
                        <p class="mediumFont">CSS</p>
                        <p class="smallFont">Good knowledge</p>
                    </div>
                    <div class="col-sm-3">
                        <span class="fab fa-sass logo-small"></span>
                        <p class="mediumFont">SASS</p>
                        <p class="smallFont">Basic knowledge</p>
                        
                    </div>
                    <div class="col-sm-3">
                        <span class="fab fa-js-square logo-small"></span>
                        <p class="mediumFont">JS</p>
                        <p class="smallFont">Basic knowledge</p>
                    </div>
                </div>
                <br><br>
                <div class="row" data-aos="zoom-in">
                    <div class="col-sm-3">
                        <span class="fab fa-angular logo-small"></span>
                        <p class="mediumFont">AngularJS</p>
                        <p class="smallFont">Basic knowledge</p>
                    </div>
                    <div class="col-sm-3">
                        <span class="fab fa-github logo-small"></span>
                        <p class="mediumFont">GIT/GITHUB</p>
                        <p class="smallFont">Basic knowledge</p>
                    </div>
                    <div class="col-sm-3">
                        <span class="fab fa-bootstrap logo-small"></span>
                        <p class="mediumFont">BOOTSTRAP</p>
                        <p class="smallFont">Good knowledge</p>
                    </div>
                    <div class="col-sm-3">
                        <span class="fab fa-wordpress logo-small"></span>
                        <p class="mediumFont">WORDPRESS</p>
                        <p class="smallFont">Basic knowledge</p>
                    </div>
                </div>
                <br><br>
                    <div class="row" data-aos="zoom-in">
                        <div class="col-sm-3">
                            <span class="fas fa-mobile-alt logo-small"></span>
                            <p class="mediumFont">RWD (Responsive Web Design)</p>
                            <p class="smallFont">Good knowledge</p>
                        </div>
                        <div class="col-sm-3">
                            <span><img class="img-icon" src="https://img.icons8.com/ios-glyphs/30/000000/visual-studio.png" /></span>
                            <!--<a href="https://icons8.com/icon/102978/visual-studio">Visual Studio icon by Icons8</a>-->
                            <p class="mediumFont">Visual Studio</p>
                            <p class="smallFont">Good knowledge</p>
                        </div>
                        <div class="col-sm-3">
                            <span><img class="img-icon" src="https://img.icons8.com/metro/26/000000/adobe-photoshop.png" /></span>
                            <!--<a href="https://icons8.com/icon/3570/adobe-photoshop">Adobe Photoshop icon by Icons8</a>-->
                            <p class="mediumFont">Adobe Photoshop</p>
                            <p class="smallFont">Very good knowledge</p>
                        </div>
                        <div class="col-sm-3">
                            <span><img class="img-icon" src="https://img.icons8.com/metro/26/000000/adobe-illustrator.png" /></span>
                            <!--<a href="https://icons8.com/icon/3571/adobe-illustrator">Adobe Illustrator icon by Icons8</a>-->
                            <p class="mediumFont">Adobe Illustrator</p>
                            <p class="smallFont">Very good knowledge</p>
                        </div>
                    </div>
            </div>
        </div>
        
        <div id="portfolio" class="portfolio container-fluid">
            <div class="text-center">
                <p class="bigFont">PORTFOLIO</p>
                <p class="mediumFont">What I have created</p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <p class="bigFont">HOMEWARE SHOP</p>
                        </div>
                        <div class="ribbon">NEW</div>
                        <a href="https://kingaskaskiewicz.github.io/Shop/" target="_blank">
                            <img class="portfolio-screen" src="content\dist\images\homesweet.jpg" alt="Home Shop">
                        </a>
                        <div class="panel-body">
                            <p class="smallFont">
                                You can search specific products inside SALE and CATEGORIES, add items into the basket, add discount code (LATO10), fill in delivery form.
                                Fully responsive, made in HTML, CSS/SASS and JS/AngularJS.
                            </p>
                            <div class="panel-footer">
                                <a href="https://kingaskaskiewicz.github.io/Shop/" class="btn btn-lg" target="_blank">DEMO</a>
                                <a href="https://github.com/KingaSkaskiewicz/Shop" class="btn btn-lg" target="_blank">CODE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <p class="bigFont">AMORE MIO RESTAURANT</p>
                        </div>
                        <div class="ribbon">NEW</div>
                        <a href="https://skaskiewicz.wordpress.com/" target="_blank">
                            <img class="portfolio-screen" src="content\dist\images\amoreMio.jpg" alt="Amore Mio Restaurant">
                        </a>
                        <div class="panel-body">
                            <p class="smallFont">
                                Restaurant site with table booking form, menu with gallery and contact form. My first time with wordpress.com and really enjoy it :)
                                Fully responsive, made in wordpress.com.
                                <br />
                            </p>
                            <div class="panel-footer">
                                <a href="https://skaskiewicz.wordpress.com/" class="btn btn-lg" target="_blank">DEMO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

         
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <p class="bigFont">TO DO LIST</p>
                        </div>
                        <a href="https://kingaskaskiewicz.github.io/ToDoList/" target="_blank">
                            <img class="portfolio-screen" src="content\dist\images\ToDoList.jpg" alt="To Do List">
                        </a>
                        <div class="panel-body">
                            <p class="smallFont">
                                Simply app to create daily tasks. You can add task with date, mark it as done or remove it completely.
                                Fully responsive, made in HTML, CSS/SASS and JS/AngularJS.
                            </p>
                            <div class="panel-footer">
                                <a href="https://kingaskaskiewicz.github.io/ToDoList/" class="btn btn-lg" target="_blank">DEMO</a>
                                <a href="https://github.com/KingaSkaskiewicz/ToDoList" class="btn btn-lg" target="_blank">CODE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <p class="bigFont">CALCULATOR</p>
                        </div>
                        <a href="https://kingaskaskiewicz.github.io/kalkulator/" target="_blank">
                            <img class="portfolio-screen" src="content\dist\images\Calculator.jpg" alt="To Do List">
                        </a>
                        <div class="panel-body">
                            <p class="smallFont">
                                Calculator app performing basic calculations such as addition, subtraction, multiplication and division.
                                Fully responsive, made in HTML, CSS/SASS and JS/AngularJS.
                            </p>
                            <div class="panel-footer">
                                <a href="https://kingaskaskiewicz.github.io/kalkulator/" class="btn btn-lg" target="_blank">DEMO</a>
                                <a href="https://github.com/KingaSkaskiewicz/kalkulator" class="btn btn-lg" target="_blank">CODE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <p class="bigFont">MEMORY GAME</p>
                        </div>
                        <a href="https://kingaskaskiewicz.github.io/MemoryGame/" target="_blank">
                            <img class="portfolio-screen" src="content\dist\images\MemoryGame.jpg" alt="To Do List">
                        </a>
                        <div class="panel-body">
                            <p class="smallFont">
                                Logic game to train your memory and attention. Simply match all icons into pairs.
                                Fully responsive, made in HTML, CSS/SASS and JS/AngularJS.
                            </p>
                            <div class="panel-footer">
                                <a href="https://kingaskaskiewicz.github.io/MemoryGame/" class="btn btn-lg" target="_blank">DEMO</a>
                                <a href="https://github.com/KingaSkaskiewicz/MemoryGame" class="btn btn-lg" target="_blank">CODE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <p class="bigFont">JACKPOT MACHINE</p>
                        </div>
                        <a href="https://kingaskaskiewicz.github.io/Jackpot/" target="_blank">
                            <img class="portfolio-screen" src="content\dist\images\Jackpot.jpg" alt="To Do List">
                        </a>
                        <div class="panel-body">
                            <p class="smallFont">
                                Just click spin, have fun and try your luck. This app has colorful animations, true jackpot sounds and real "win logic" ;)
                                Made in HTML, CSS/SASS and JS/AngularJS.
                            </p>
                            <div class="panel-footer">
                                <a href="https://kingaskaskiewicz.github.io/Jackpot/" class="btn btn-lg" target="_blank">DEMO</a>
                                <a href="https://github.com/KingaSkaskiewicz/Jackpot" class="btn btn-lg" target="_blank">CODE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="container-fluid text-center">
        <div class="contact">
            <p class="bigFont">CONTACT</p>
            <div class="row">
                <div class="col-sm-12">
                    <div class="icon-text">
                        <a class="glowing-icon" href="https://www.linkedin.com/in/kinga-skaskiewicz-0630a5157/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>

                    <div class="icon-text">
                        <a class="glowing-icon" href="https://github.com/KingaSkaskiewicz" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="icon-text">
                        <a ng-click="hiddenDivFirst = !hiddenDivFirst" class="glowing-icon">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <span ng-show="hiddenDivFirst">
                            <p class="under-icon-email"><a href="mailto:kinga.skaskiewicz@gmail.com">kinga.skaskiewicz@gmail.com</a></p>
                        </span>
                    </div>

                    <div class="icon-text">
                        <a ng-click="hiddenDivSecond = !hiddenDivSecond" class="glowing-icon">
                            <i class="fa fa-mobile"></i>
                        </a>
                        <span ng-show="hiddenDivSecond">
                            <p class="under-icon-phone">+48 694718605</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <a href="#myPage">
            <span class="glyphicon glyphicon-triangle-top go-to-top"></span>
        </a>
        <p>BACK TO TOP</p>
    </footer>

    </div>


    <script src="content\src\js\slider.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="content/src/js/app/main.js"></script>
    <script src="content/src/js/app/controllers/main.controller.js"></script>
</body>
